* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "'Times New Roman', Times, serif";
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}